$big-space: 60px;
$mid-space: 30px;

$charge-yellow: #c4bb00;
$light-yellow: #ffff9f;
$light-gray: #ccc;


body {
  background: #fff;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  max-width: 40em;
  padding: $big-space $mid-space;
  margin: 0 auto;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

img {
  max-width: 100%;
}

li {
  margin: 0.5em 0;
}

.hero {
  max-width: 25em;
  shape-margin: 0.5em;

  display: block;
  margin: 0 auto;

  @media (min-width: 40em) {
    float: right;
    margin-top: 1em;
  }
}

article {
  margin: 50px 0;

  &:target h3 {
    background: $light-yellow;
  }
}

h1 {
  line-height: 1.2;
}

h1 a {
  &, &:hover, &:focus {
    color: $charge-yellow;
  }

  text-decoration: none;

  &:hover { border-bottom: 2px solid $light-gray; }
}

hr {
  margin-top: $mid-space;
  border: 0;
  height: 1px;
  background: $light-gray;
  margin-bottom: $mid-space;
}

footer {
  margin-top: $big-space;
  opacity: 0.6;
  font-size: 14px;
}
