---
title: Charging curve
---

markdown:
  Will vary depending on battery temperature, charger max speed etc.

  This graph is [courtesy of Neil C](https://www.facebook.com/groups/HondaeUK/posts/3035588300029972/?comment_id=3035598250028977&reply_comment_id=3035600906695378) from the Honda e UK Interest Group on Facebook:

a href=image_path("charging-curve-neil.jpg")
  = image_tag "charging-curve-neil.jpg", alt: "[Graph]"
