---
title: Communities
---

markdown:

  * Facebook
    * [Honda e UK Interest group (private)](https://www.facebook.com/groups/HondaeUK)
    * [Honda e Sverige (Sweden, private)](https://www.facebook.com/groups/260208198759891)
    * [Honda e - Norge (Norway, public)](https://www.facebook.com/groups/311890456819160)
  * [Honda e forums](https://www.hondaeforums.com/)
