---
title: Communities
og_description: "Facebook groups and forums."
---

markdown:

  * Facebook
    * [Honda E Community Club (private)](https://www.facebook.com/groups/238479217341896/)
    * [Honda e UK Interest group (private)](https://www.facebook.com/groups/HondaeUK)
    * [Honda e Sverige (Sweden; private)](https://www.facebook.com/groups/260208198759891)
    * [Honda e - Norge (Norway; public)](https://www.facebook.com/groups/311890456819160)
    * [Honda E Club Nederland (Netherlands and Belgium; private)](https://www.facebook.com/groups/1289851341616227/)
    * [HONDA e - D/A/CH (Germany, Austria and Switzerland; private)](https://www.facebook.com/groups/1289851341616227/)
  * [Honda e forums](https://www.hondaeforums.com/)
