---
title: Contact Honda
og_description: "Contact details for different concerns."
---

markdown:

  * About the app: <connectedservices.support@honda-eu.com>
  * In the UK: <info.UK.car@honda-eu.com>
