.hero
  = image_tag "hondae.png", alt: "", class: "hero-image", id: "hero"

javascript:
  const hero = document.images.hero
  hero.addEventListener("load", () => hero.classList.add("is-loaded"))

markdown:

  This site collects information about the [Honda e](https://www.honda.co.uk/cars/new/honda-e).

  It doesn't replace [the manual](/rtfm), but highlights things you might miss if you haven’t read it closely, and things it doesn’t cover at all.

hr

- [\
    :"prospective-owner",
    :"new-owner",
    :"how-to",
    :troubleshooting,
    :reference,
    :products,
  ].each do |id|
  = partial("toc_for_page_with_articles", locals: { id: })

h3 Learn more
ul
  li: a href="/rtfm" Read the Fine Manual
  li: a href="/communities" Communities
  li: a href="/contact-honda" Contact Honda
