---
title: Touch-up paint codes
---

markdown:
  Please double-check these codes by looking at the black label in the passenger-side door well, just above the QR code.

a href=image_path("paint_label.jpg")
  = image_tag "paint_label.jpg", alt: ""

markdown:
  - **Yellow:** Y79M, "Acid Yellow". [UK seller.](https://www.coxmotorparts.co.uk/honda-shop/genuine-honda-premium-acid-yellow-metallic-touch-up-paint-y79m/) ([Source](https://www.facebook.com/groups/HondaeUK/posts/3086065458315589/?comment_id=3086327974956004&reply_comment_id=3091042781151190).)
  - **Black:** NH731P, "Crystal Black". [UK seller.](https://www.coxmotorparts.co.uk/honda-shop/genuine-honda-crystal-black-touch-up-pencil-nh731p/) ([Source](https://www.paintcolourchart.com/cars/030/honda-e.html).)
  - **White:** NH883P, "Platinum White Pearl". [UK seller.](https://www.coxmotorparts.co.uk/honda-shop/genuine-honda-platinum-white-pearl-touch-up-paint-nh883p/) ([Source](https://www.paintcolourchart.com/cars/030/honda-e.html).)
  - **Grey:** NH797M, "Modern Steel Grey Metallic". ([Source](https://www.paintcolourchart.com/cars/030/honda-e.html).)
  - **Blue:** B625M, "Premium Crystal Blue Metallic". ([Source](https://www.paintcolourchart.com/cars/030/honda-e.html).)
