---
title: Accessories, parts and products
---

markdown:

  These links are not sponsored or affiliate.

  ### Accessories and parts

  - UK:
    - [Honda Accessories Catalogue](https://www.honda.co.uk/cars/owners/accessories-manuals/catalogue-accessories.html#hace/default/honda-e-accessories). Fitted/unfitted prices but no online sales.
    - [Cox Motor Parts](https://www.coxmotorparts.co.uk/honda/honda-e/) sell original accessories and parts online, including [touch-up paint](/reference/#paint).
      - [Honda first aid kid](https://hondadirectparts.co.uk/parts/honda-jazz-genuine-parts/honda-jazz-2020-currect-first-aid-kit/) that [fits under the boot floor](/how-to#slots-under-boot).
      - [Honda warning triangle](https://hondadirectparts.co.uk/parts/honda-e/accessories-honda-e/honda-warning-triangle/) that [fits under the boot floor](/how-to#slots-under-boot).

  ### Dashcam

  - Honda Drive Recorder. [UK third-party product page](https://www.greenacrehonda.com/service-and-aftersales/honda-parts-accessories/honda-drive-recorder). [Discussion](https://www.hondaeforums.com/viewtopic.php?t=872).

  ### OBD2

  - [Power Cruise Control OBD2 device](https://www.powercruisecontrol.com/). iOS and Android app. Tells you remaining kWh, kW in use, charge/discharge rate, battery temperature and battery state of health per [this post](https://www.facebook.com/groups/HondaeUK/posts/3063668053888663/?comment_id=3063679607220841).

  ### Toys and collectables

  - White Matchbox. [eBay UK search](https://www.ebay.co.uk/sch/i.html?_nkw=matchbox+%22honda+e%22).
  - White Takara Tomy/Tomica No. 60 Die-Cast Model 1/61. [eBay UK search](https://www.ebay.co.uk/sch/i.html?_nkw=takara+tomica+%22honda+e%22).
  - Yellow Takara. To be released (as of April 2022). [Discussion](https://www.facebook.com/groups/HondaeUK/posts/3076637385925063/).
  - Yellow Tamiya 18095 Mini 4WD 1/32 VZ Chassis. [Plaza Japan](https://www.plazajapan.com/4950344180950/).
  - DNA Collectibles Honda Urban EV Concept 1/18 scale model. Limited edition, sold out. [Review](https://diecastsociety.com/review-dna-collectibles-honda-urban-ev-concept/). [Video](https://www.facebook.com/watch/?v=463709454154082).
