---
title: Accessories, parts and products
og_description: "Accessories, parts, HDMI devices, toys and collectibles etc."
intro: "These links are not sponsored or affiliate."
articles:
  -
    anchor: accessories-and-parts
    title: Accessories and parts
    body: |
        - UK:
          - [Honda Accessories Catalogue](https://www.honda.co.uk/cars/owners/accessories-manuals/catalogue-accessories.html#hace/default/honda-e-accessories). Fitted/unfitted prices but no online sales.
          - [Cox Motor Parts](https://www.coxmotorparts.co.uk/honda/honda-e/) sell original accessories and parts online, including [touch-up paint](/reference/#paint).
            - [Honda first aid kid](https://hondadirectparts.co.uk/parts/honda-jazz-genuine-parts/honda-jazz-2020-currect-first-aid-kit/) that [fits under the boot floor](/how-to#slots-under-boot).
            - [Honda warning triangle](https://hondadirectparts.co.uk/parts/honda-e/accessories-honda-e/honda-warning-triangle/) that [fits under the boot floor](/how-to#slots-under-boot).

  -
    anchor: hdmi
    title: HDMI devices
    body: |
        Notes on some popular HDMI devices:

        - Google Chromecast: Can't stream from an iPhone while also using that iPhone as a hotspot. ([Source](https://www.facebook.com/groups/HondaeUK/posts/2981960938726042/).)
        - Roku: HD is enough; 4K is wasted on the car's 720p display. ([Source](https://www.facebook.com/groups/HondaeUK/posts/2981960938726042/?comment_id=2982281448693991).)
        - Amazon Firestick: HD is enough; 4K is wasted on the car's 720p display. ([Source](https://www.facebook.com/groups/HondaeUK/posts/2981960938726042/?comment_id=2985517711703698).)
        - [Apple Lightning Digital AV Adapter](https://www.apple.com/shop/product/MD826AM/A/lightning-digital-av-adapter) with iPhone: The phone needs to be tethered and can't be used for other things at the same time. Phone screen can't be turned off. Had letterboxing where Firestick didn't, and worse audio. CarPlay needs to be turned off while using. ([Source](https://www.facebook.com/groups/HondaeUK/posts/2981960938726042/?comment_id=2985517711703698&reply_comment_id=2985529781702491). [Source](https://www.hondaeforums.com/viewtopic.php?p=8550#p8550).)
        - Nintendo Switch: Works. ([Source](https://www.hondaeforums.com/viewtopic.php?p=4534#p4534).)

  -
    anchor: chargers
    title: Home chargers
    body: |
        The car should be compatible with all [type 2](https://en.wikipedia.org/wiki/Type_2_connector) home chargers.

        It charges at up to 6.6 kW from home chargers ([source](https://ev-database.uk/car/1233/Honda-e-Advance#charging)), meaning a 7 kW charger is enough – a 22 kW charger will also work, but won't charge the car any faster.

        If you schedule charging times, consider whether to do so in the car or in the charger. If you do it in the car, it will be able to draw power for any preconditioning outside of the schedule, leaving you with more charge. If you do it in the charger, the car will not be able to draw power outside of that schedule. Also note that [the charging schedule is confusing](/new-owner#charging-schedule).
  -
    anchor: other-devices
    title: Other devices
    body: |
        - Honda Drive Recorder dash cam. [UK third-party product page](https://www.greenacrehonda.com/service-and-aftersales/honda-parts-accessories/honda-drive-recorder). [Discussion](https://www.hondaeforums.com/viewtopic.php?t=872).
        - [Power Cruise Control OBD2 device](https://www.powercruisecontrol.com/). iOS and Android app. Tells you remaining kWh, kW in use, charge/discharge rate, battery temperature and battery state of health per [this post](https://www.facebook.com/groups/HondaeUK/posts/3063668053888663/?comment_id=3063679607220841).
        - [CarPlay Ai Box](https://www.ebay.co.uk/sch/i.html?_nkw=carplay+ai+box). Lets you use Android apps via wireless CarPlay. [Video](https://www.facebook.com/groups/HondaeUK/posts/3102976933291108/?comment_id=3103486616573473).
        - Battery monitors such as [BM2](https://www.amazon.co.uk/Battery-Monitor-Campervans-Compatible-bluetooth/dp/B08VHMJYXY) and [CTEK Battery Sense](https://www.amazon.co.uk/CTEK-40-149-Vehicle-Battery-Monitor/dp/B0188TGF6W). [Discussion](https://www.hondaeforums.com/viewtopic.php?t=1148).

  -
    anchor: toys-and-collectibles
    title: Toys and collectibles
    body: |
        - White Matchbox. [eBay UK search](https://www.ebay.co.uk/sch/i.html?_nkw=matchbox+%22honda+e%22).
        - White Takara Tomy/Tomica No. 60 Die-Cast Model 1/61. [eBay UK search](https://www.ebay.co.uk/sch/i.html?_nkw=takara+tomica+%22honda+e%22).
        - Yellow Takara. To be released (as of April 2022). [Discussion](https://www.facebook.com/groups/HondaeUK/posts/3076637385925063/).
        - Yellow Tamiya 18095 Mini 4WD 1/32 VZ Chassis. [Plaza Japan](https://www.plazajapan.com/4950344180950/).
        - DNA Collectibles Honda Urban EV Concept 1/18 scale model. Limited edition, sold out. [Review](https://diecastsociety.com/review-dna-collectibles-honda-urban-ev-concept/). [Video](https://www.facebook.com/watch/?v=463709454154082).
---
