---
title: Things a prospective owner should know
articles:

  -
    anchor: wheels
    title: "16\" vs 17\" wheels"
    body: |

        ![](/images/wheels1.png)

        The 16" are all black; the 17" have chrome spokes. Beware – used-car ads have been known to get it wrong.

        ![Accessory wheels](/images/wheels2.png)

        There are also accessory 17" wheels, pictured here below the standard ones.

        The 16" have slightly better range – their WLTP range is 137 instead of 131 miles ([source](https://www.rowes.co.uk/honda/pdf/honda-e.pdf), p. 47).

        The 16" may be a little quieter and the 17" may handle a little better in corners ([source](https://www.hondaeforums.com/viewtopic.php?t=627), [source](https://www.hondaeforums.com/viewtopic.php?p=12556#p12556)).

        The 16" typically come with Yokohama BluEarth tyres; the 17" with Michelin PS4 tyres ([source](https://www.hondaeforums.com/viewtopic.php?t=1019)).

  -
    anchor: models
    title: Base model vs Advance model
    body: |
        Exclusive to the Advance model:

        - The option to get 17" wheels. (Base model is 16" only.)
        - Engine max power of 113 kW, 0–60 mph in 8.3 secs. (Base model is 100 kW, 9.0 secs.)
        - "Premium Audio" with dedicated hardware amplifier and 8 speakers including subwoofer. (Base model has 6 speakers.)
        - 230V outlet.
        - Front windshield de-icer.
        - Heated steering wheel.
        - Honda Parking Pilot.
        - Multi-view camera. (Base model has rear view camera only.)
        - Centre Camera Mirror System. (Can switch between mirror and camera.)
        - Blind Spot Information.
        - Cross Traffic Monitor. (Warns about approaching vehicles when reversing.)

        ([Source](https://www.rowes.co.uk/honda/pdf/honda-e.pdf), pp. 46–48.)
---
