---
title: Read the Fine Manual
og_description: "Links to and details about the different manuals."
---

markdown:

  You'll find manuals on Honda's site:

    * [2023 year model owner’s manual](https://www.honda.co.uk/content/honda/en_gb/cars/owners/manuals-and-guides/honda-owners-manuals/_jcr_content/par1/textcolumnwithimagem_2131108407/textColumn/richtextdownload_46e/file.res/23%20HONDA%20E%20(KE%20KG)-32TYF6200_01_web_compressed.pdf)
    * [2021 year model owner’s manual](https://www.honda.co.uk/content/honda/en_gb/cars/owners/manuals-and-guides/honda-owners-manuals/_jcr_content/par1/textcolumnwithimagem_2131108407/textColumn/richtextdownload_53f/file.res/21%20HONDA%20E-32TYF6110_web_compressed.pdf)
    * [2020 year model owner’s manual](https://www.honda.co.uk/content/honda/en_gb/cars/owners/manuals-and-guides/honda-owners-manuals/_jcr_content/par1/textcolumnwithimagem_2131108407/textColumn/richtextdownload_8ec/file.res/32TYF6010_web%20EN_compressed.pdf)
    * [Navigation manual](https://www.honda.co.uk/content/honda/en_gb/cars/owners/manuals-and-guides/honda-owners-manuals/_jcr_content/par1/textcolumnwithimagem_2131108407/textColumn/richtextdownload_cc1/file.res/32TYF800_Navigation%20Book.pdf)

  According to Honda there’s no difference between the 2020 and 2021 year models ([source](https://www.hondaeforums.com/viewtopic.php?p=10857#p10857)). Presumably not the 2023 one, either.

  Some images appear to be broken in the manuals when viewed on iOS and in Preview on macOS.

  There is also an on-board manual in the car. Select "All Apps", then "Owner's manual". (#{link_to_manual 263}.)
