---
title: Safety 
---

markdown:
  Euro NCAP gave the Honda a safety rating of 4 out of 5.

  The report video can be interesting to see the safety systems in action.

  - [Report](https://www.euroncap.com/en/results/honda/e/41399)
  - [Datasheet](https://cdn.euroncap.com/media/62100/euroncap-2020-honda-e-datasheet.pdf)
  - [Video](https://www.youtube.com/watch?v=g45fF2I4BoM)
    - Jump to: [Adult occupant](https://youtu.be/g45fF2I4BoM?t=10). Crash tests.
    - Jump to: [Child occupant](https://youtu.be/g45fF2I4BoM?t=106). Crash tests.
    - Jump to: [Vulnerable road users](https://youtu.be/g45fF2I4BoM?t=133). Shows AEB (Auto Emergency Braking) with pedestrians and cyclists.
    - Jump to: [Safety assist](https://youtu.be/g45fF2I4BoM?t=195). Shows AEB car-to-car, Lane Keep Assist and Road Edge Detection.
