---
title: Troubleshooting
og_description: "How to fix some common issues."
articles:

  -
    anchor: handles-not-retracting
    title: Door handles won't fully retract
    body: |
        This is a common issue. It's sometimes accompanied by a clicking noise.

        If the car is under warranty, Honda will most likely fix it for free.

        Outside of warranty, it can allegedly cost £350/side. ([Source](https://www.hondaeforums.com/viewtopic.php?p=16062#p16062).)

        Or see [these instructions for servicing it yourself](https://www.hondaeforums.com/viewtopic.php?p=16062#p16062). It involves partially disassembling the door and then lubricating the handle.

  -
    anchor: power-system-indicator
    title: The car shows the <img src="/images/icon-power-system-indicator.png" alt="🚗❗️"> Power System Indicator icon
    body: |
        Sometimes with a message like "Quick Plug-in Charging System Problem. Standard Charging Is Available." or "Power System Problem. Power May Be Reduced.".

        You will probably be unable to use DC rapid chargers, but AC slow/fast chargers may still work.

        This can happen when there is some issue between the car and a rapid charger. Issues have been reported with [Tesla superchargers and some others](/new-owner#no-tesla-superchargers).

        Turning the car off for a few minutes and then back on again may help. The error may keep showing for a while even if it starts charging. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3457233357865463/).)

        Opening and closing the bonnet may clear the error. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3206948376227296/?comment_id=3207020099553457).)

        Connecting to another, working charger may help. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3206948376227296/?comment_id=3212338629021604).)

        Otherwise, you need to visit a dealer.

        It can also indicate that the high voltage battery temperature is high – if you think this may be the case, avoid high speeds and visit a dealer.

        ([[manual 111]]. [[manual 661]].)

  -
    anchor: lights-stay-on
    title: Lights stay on when I attempt to turn the car off
    body: |
        Depending on your settings, light may stay on for a few seconds. But if they remain on, you may have moved the lights setting (on the left-hand stalk) away from auto, e.g. to parking lights. Turn the setting back to auto.

  -
    anchor: charge-does-not-start
    title: A charge doesn’t start
    body: |
        E.g. the car’s charging light blinks white, but then turns off and never turns blue.

        Restart the charge while gently pushing the plug forward and upward, into the socket. This may help the charger’s lock pin engage. This issue has been seen e.g. with Engie/GeniePoint chargers and certain InstaVolt chargers.
  -
    anchor: will-not-lock
    title: The car won't lock
    body: |
        If the car won't lock and makes 4 beeps, a key may still be in the car. Take the key out. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3187757628146371/?comment_id=3187758351479632).)

  -
    anchor: ac-or-demisting-issues
    title: Issues with AC air flow or demisting
    body: |
        This could happen if something has fallen down the back of the glove box, blocking a vent. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3157448911177243/).)
---
