---
title: Troubleshooting
og_description: "How to fix some common issues."
articles:

  -
    anchor: lights-stay-on
    title: Lights stay on when I attempt to turn the car off
    body: |
        Depending on your settings, light may stay on for a few seconds. But if they remain on, you may have moved the lights setting (on the left-hand stalk) away from auto, e.g. to parking lights. Turn the setting back to auto.

  -
    anchor: charge-does-not-start
    title: A charge doesn’t start
    body: |
        E.g. the car’s charging light blinks white, but then turns off and never turns blue.

        Restart the charge while gently pushing the plug forward and upward, into the socket. This may help the charger’s lock pin engage. This issue has been seen e.g. with Engie/GeniePoint chargers and certain InstaVolt chargers.

  -
    anchor: will-not-lock
    title: The car won't lock
    body: |
        If the car won't lock and makes 4 beeps, a key may still be in the car. Take the key out. ([Source](https://www.facebook.com/groups/HondaeUK/posts/3187757628146371/?comment_id=3187758351479632).)

  -
    anchor: ac-or-demisting-issues
    title: Issues with AC air flow or demisting
    body: |
        This could happen if something has fallen down the back of the glove box, blocking a vent.

        ([Source](https://www.facebook.com/groups/HondaeUK/posts/3157448911177243/).)
---
